.model-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2rem;
}

.info-box {
  margin: 2rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-box {
  display: flex;
  justify-content: center;
}